/* Variables */
:root {
  --color-background: #202940;
  --color-background-dark: #1a2035;
  --color-background-btn: #22598d;
  --color-background-nav: #22598d;
  --color-background-loader: #e96632;
  --color-content-light: #e7edf8;
  --color-content-dark: black;
  --color-link: #bbc2cf;
  --color-info: #084390;
  --color-warning: #997404;
  --color-success: #0f5132;
  --color-error: #842029;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: var(--color-content-light);
  font-family: Lato, Sans-serif;
  background: var(--color-background);
}

.main-content:not(:has(.home)) {
  padding-top: 80px;
}

.select,
.input {
  padding: 5px;
  color: var(--color-content-light);
  font-family: Lato, Sans-serif;
  background-color: var(--color-background-dark);
  border-radius: 5px;
  border: solid 1px rgba(255, 255, 255, .2);
}

/* Boutons */
.btn {
  padding: 7px 20px;
  color: var(--color-content-light);
  font-family: Lato, Sans-serif;
  background-color: var(--color-background-btn);
  border: 0px;
  border-radius: 20px;
  cursor: pointer;
}

.btn-finish {
  background-color: var(--color-success);
}

.btn:disabled {
  background-color: #696969;
  cursor: auto;
}

/* Message d'alerte */
.alert {
  position: fixed;
  display: none;
  z-index: 1;
  width: 100%;
  padding: 15px 0px;
  text-align: center;
  opacity: 0.85;
}

.alert-error {
  display: block;
  background-color: var(--color-error);
}

.alert-warning {
  display: block;
  background-color: var(--color-warning);
}

.alert-success {
  display: block;
  background-color: var(--color-success);
}

.alert-info {
  display: block;
  background-color: var(--color-info);
}

/* Header */
.header {
  display: none;
  grid-template-columns: 1fr 1fr 1fr;
  height: 50px;
  background-color: var(--color-background-nav);
}

.header-navbar-left {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.header-navbar-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-navbar-right {
  display: flex;
  justify-content: right;
  align-items: center;
  list-style: none;
}

.header-navbar-planet {
  display: none;
  font-weight: bold;
}

.header-navbar-item {
  padding: 0 20px;
}

.header-navbar-link {
  color: var(--color-content-light);
  text-decoration: none;
}

.header-navbar-img {
  vertical-align: text-bottom;
  width: 20px;
}

.header-dropdown {
  cursor: pointer;
}

.header-dropdown-content {
  display: none;
  position: absolute;
  top: 0;
  margin-top: 50px;
  margin-left: 35px;
  background-color: var(--color-background-nav);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 1);
}

.header-dropdown:hover .header-dropdown-content {
  display: block;
}

.header-dropdown-item {
  padding: 10px 15px;
}

/* Page d'accueil */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.home-tab {
  display: flex;
}

.home-tab-radio {
  display: none;
}

.home-tab-label {
  width: 100px;
  padding: 15px 25px 15px 25px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  font-weight: bold;
  background: var(--color-background-dark);
  border-radius: 5px 5px 0px 0px;
  cursor: pointer;
}

.home-tab-radio:checked+.home-tab-label {
  color: var(--color-content-dark);
  background: var(--color-link);
}

.home:has(#login-tab:checked) .login-form,
.home:has(#signup-tab:checked) .signup-form {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 300px;
  padding: 25px;
  background: var(--color-background-dark);
  border-radius: 5px;
}

.login-form,
.signup-form {
  display: none;
}

.home-form-input,
.home-form-select {
  margin-top: 10px;
  margin-bottom: 20px;
}

.home-form-input {
  height: 15px;
}

.home-form-chkbox {
  display: flex;
  justify-content: flex-start;
  text-align: left;
}

.home-form-chkbox-input {
  margin-right: 10px;
}

.home-form-btn {
  margin: 20px 10px;
}

.login-action {
  align-self: center;
}

/* Page "Univers" */
.universe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
}

.universe-galaxy,
.universe-solarsystem {
  width: 500px;
  text-align: right;
  margin: 10px 0px;
}

.universe-select {
  width: 200px;
}

.universe-table {
  margin-top: 30px;
  border-collapse: collapse;
  background-color: var(--color-background-dark);
}

.universe-table-tr:hover {
  background-color: var(--color-background);
}

.universe-table-th,
.universe-table-td {
  padding: 15px;
  text-align: left;
  border-bottom: solid 1px rgba(255, 255, 255, .2);
}

.universe-table-td {
  cursor: pointer;
}

/* Pages "Structure", "Recherche", "Unité" */
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}

.item-table {
  width: 50%;
}

.item-table-row {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  border-bottom: solid 1px rgba(255, 255, 255, .2);
  margin-top: 20px;
}

.item-image {
  grid-area: 1 / 1 / 2 / 2;
  width: 80px;
  padding: 10px;
}

.item-txt {
  grid-area: 1 / 2 / 2 / 3;
  padding: 10px;
}

.item-name {
  font-weight: bold;
}

.item-action {
  grid-area: 1 / 3 / 2 / 4;
  padding: 10px;
}

.item-build-btn {
  width: 150px;
  height: 50px;
}

.item-prerequisite-banner {
  grid-area: 2 / 2 / 3 / 4;
  padding: 10px;
}

.item-prerequisite-row {
  padding: 10px;
  border: solid 1px rgba(255, 255, 255, .2);
}

.item-icon {
  vertical-align: text-bottom;
}

.item-prerequisite-name {
  font-weight: bold;
}

/* Page 404 */
.pagenotfound {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 30px;
}

/* Loader */
.loader {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
}

.loader-planet {
  position: absolute;
  width: 80px;
  height: 80px;
  border: 2px solid var(--color-content-light);
  border-radius: 50%;
  animation: planet 2s linear infinite;
}

.loader-planet::before {
  position: absolute;
  width: 20px;
  height: 20px;
  top: -10px;
  left: 50%;
  content: '';
  border-radius: 50%;
  background: var(--color-background-loader);
  box-shadow: 0 0 20px var(--color-background-loader), 0 0 60px var(--color-background-loader);
  transform: translateX(-50%);
}

@keyframes planet {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Boîte de dialogue */
.dialog {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
}

.dialog-content {
  padding: 20px;
  color: var(--color-background-dark);
  background: var(--color-content-light);
}

.dialog-content-txt {
  margin-bottom: 20px;
}