<template>
  <div class="fight">
    <h1>Rapports de combat</h1>
    <div class="fight-content">
      <ul id="fight-list">
        <li class="fight-item">
          {{fightDate}} {{fightTime}} - {{opponentPlanetName}}
        </li>
      </ul>
      <div id="fight-report">
        <p>Rapport de combat du {{fightDate}} à {{fightTime}}</p>
        <p>Planète : {{opponentPlanetName}}</p>
        <p>{{fightResult}}</p>
        <p>Attaquants :</p>
        <ul id="fight-attack">
          <li class="fight-item">
            {{quantity}} {{name}}
          </li>
        </ul>
        <p>Défenseurs :</p>
        <ul id="fight-defense">
          <li class="fight-item">
            {{quantity}} {{name}}
          </li>
        </ul>
        <p>Les transporteurs ramènent :</p>
        <ul id="fight-resource">
          <li class="fight-item">
            {{name}} : {{quantity}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>