<template>
  <div class="fleet">
    <h1>Flottes</h1>

    <form class="fleet-form">
      <div id="fleet-list" class="fleet-table">
        <div class="fleet-table-row">
          <img class="fleet-image" src="" alt="">
          <p class="fleet-name"></p>
          <p>Disponibles : <span class="fleet-qty"></span></p>

          <p class="fleet-send-unit">
            <label class="fleet-form-unit-label">Nombre d'unités à envoyer :</label><br />
            <input type="number" class="fleet-form-unit-input input" value="0" min="0">
          </p>
        </div>
      </div>

      <div class="fleet-select">
        <p>
          <label for="fleet-galaxy" class="fleet-form-label">Galaxie :</label>
          <select id="fleet-galaxy" class="fleet-form-select select" required="required">
          </select>
        </p>

        <p>
          <label for="fleet-solarsystem" class="fleet-form-label">Système solaire :</label>
          <select id="fleet-solarsystem" class="fleet-form-select select" required="required">
          </select>
        </p>

        <p>
          <label for="fleet-planet" class="fleet-form-label">Planète :</label>
          <select id="fleet-planet" class="fleet-form-select select" required="required">
          </select>
        </p>

        <p class="fleet-form-btn">
          <button id="fight-btn" class="btn">Attaquer</button>
        </p>
      </div>
    </form>
  </div>
</template>