<template>
  <div class="fleet">
    <h1>Flottes</h1>

    <form class="fleet-form">
      <div class="fleet-list">
        <div class="fleet-row">
          <img class="fleet-image" src="{{imageUrl}}" alt="{{imageTxt}}">
          <p class="fleet-name">{{name}}</p>
          <p>Disponibles : <span class="fleet-quantity">{{quantity}}</span></p>
          <p class="fleet-send-unit">
            <label for="fleet-{{sendUnitId}}" class="fleet-form-unit-label">Nombre d'unités à envoyer :</label><br />
            <input id="fleet-{{sendUnitId}}" type="number" class="fleet-form-unit-input input" value="0" min="0" max="{{sendUnitMax}}">
          </p>
        </div>
      </div>

      <div class=" fleet-select">
        <p>
          <label for="fleet-galaxy" class="fleet-form-label">Galaxie :</label>
          <select id="fleet-galaxy" class="fleet-form-select select" required="required">
          </select>
        </p>

        <p>
          <label for="fleet-solarsystem" class="fleet-form-label">Système solaire :</label>
          <select id="fleet-solarsystem" class="fleet-form-select select" required="required">
          </select>
        </p>

        <p>
          <label for="fleet-planet" class="fleet-form-label">Planète :</label>
          <select id="fleet-planet" class="fleet-form-select select" required="required">
          </select>
        </p>

        <p class="fleet-form-btn">
          <button class="fight-btn btn">Attaquer</button>
        </p>
      </div>
    </form>
  </div>
</template>