<template>
  <div class="home">
    <div class="home-tab">
      <input type="radio" name="home-tab-radio" id="login-tab" class="home-tab-radio" checked="checked">
      <label for="login-tab" class="home-tab-label">Se connecter</label>
      <input type="radio" name="home-tab-radio" id="signup-tab" class="home-tab-radio">
      <label for="signup-tab" class="home-tab-label">S'inscrire</label>
    </div>

    <div class="home-form">
      <form class="signup-form">
        <label for="signup-email">Email</label>
        <input type="email" id="signup-email" class="home-form-input" required="required">

        <label for="signup-name">Nom</label>
        <input type="text" id="signup-name" class="home-form-input" required="required">

        <label for="signup-password">Mot de passe</label>
        <input type="password" id="signup-password" class="home-form-input" required="required">

        <div class="home-form-chkbox">
          <input type="checkbox" id="signup-cgu" class="home-form-chkbox-input" required="required">
          <label for="signup-cgu">Accepter les conditions générales</label>
        </div>

        <div class="home-btn">
          <button id="signup-btn" class="home-form-btn">Créer mon compte</button>
        </div>
      </form>

      <form class="login-form">
        <label for="login-email">Email</label>
        <input type="email" id="login-email" class="home-form-input" required="required">

        <label for="login-password">Mot de passe</label>
        <input type="password" id="login-password" class="home-form-input" required="required">

        <label for="login-universe">Univers</label>
        <select id="login-universe" class="home-form-select" required="required">
        </select>

        <div class="home-btn">
          <button id="login-btn" class="home-form-btn">Connexion</button>
          <button id="create-universe-btn" class="home-form-btn">Créer un univers</button>
        </div>
      </form>
    </div>
  </div>
</template>