<template>
  <div class="item">
    <h1>Recherches</h1>
    <div id="item-list" class="item-table">
      <div class="item-table-row">
        <div>
          <img class="item-image" src="" alt="">
        </div>
        <div class="item-txt">
          <p class="item-name"></p>
          <p>Niveau actuel : <span class="item-lvl"></span></p>
          <p class="item-cost-row">
            <span class="item-cost-name"></span> : <span class="item-cost-qty"></span>
          </p>
        </div>
        <div class="item-action">
          <button class="item-build-btn btn"></button>
        </div>
        <div class="item-prerequisite-banner">
          <p class="item-prerequisite-row">
            <img class="item-icon" src="./assets/warning_icon.png" alt="Icône d'alerte"> <span class="item-prerequisite-name"></span> - Niveau <span class="item-prerequisite-lvl"></span>
          </p>
        </div>
      </div>
    </div>
  </div>
</template>