<template>
  <div class="research">
    <div id="research-list" class="research-table">
      <h1>Recherches</h1>
      <div class="research-table-row">
        <div>
          <img class="research-image" src="" alt="">
        </div>
        <div class="research-txt">
          <p class="research-name"></p>
          <p>Niveau actuel : <span class="research-lvl"></span></p>
          <p class="research-cost-row">
            <span class="research-cost-name"></span> : <span class="research-cost-qty"></span>
          </p>
        </div>
        <div class="research-action">
          <button class="research-build-btn btn"></button>
        </div>
        <div class="research-prerequisite-banner">
          <p class="research-prerequisite-row">
            <img class="research-icon" src="./assets/warning_icon.png" alt="Icône d'alerte"> <span class="research-prerequisite-name"></span> - Niveau <span class="research-prerequisite-lvl"></span>
          </p>
        </div>
      </div>
    </div>
  </div>
</template>