<template>
  <div class="item">
    <h1>Recherches</h1>
    <div class="item-list">
      <div class="item-row">
        <div class="item-image">
          <img src="{{imageUrl}}" alt="{{imageTxt}}">
        </div>
        <div class="item-description">
          <p class="item-name">{{name}}</p>
          <p>Niveau actuel : <span class="item-level">{{level}}</span></p>
          <ul class="item-cost-list">
            <li class="item-cost-resource">{{resourceName}} : {{resourceQuantity}}</li>
          </ul>
        </div>
        <div class="item-action">
          <button class="item-build-btn btn"></button>
        </div>
        <div class="item-prerequisite-banner">
          <ul class="item-prerequisite-list">
            <li class="item-prerequisite"><img class="item-icon" src="./assets/warning_icon.png" alt="Icône d'alerte"> <span class="item-prerequisite-name">{{itemPrerequisiteName}}</span> - Niveau {{itemPrerequisiteLevel}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>