<template>
  <div class="structure">
    <div id="structure-list" class="structure-table">
      <h1>Structures</h1>
      <div class="structure-table-row">
        <div>
          <img class="structure-image" src="" alt="">
        </div>
        <div class="structure-txt">
          <p class="structure-name"></p>
          <p>Niveau actuel : <span class="structure-lvl"></span></p>
          <p class="structure-cost-row">
            <span class="structure-cost-name"></span> : <span class="structure-cost-qty"></span>
          </p>
        </div>
        <div class="structure-action">
          <button class="structure-build-btn btn"></button>
        </div>
        <div class="structure-prerequisite-banner">
          <p class="structure-prerequisite-row">
            <img class="structure-icon" src="./assets/warning_icon.png" alt="Icône d'alerte"> <span class="structure-prerequisite-name"></span> - Niveau <span class="structure-prerequisite-lvl"></span>
          </p>
        </div>
      </div>
    </div>
  </div>
</template>